## Data Sturcture
* String
* List
* Tuple
* Set
* Dictionary
* Numpy Arrays

In [21]:
s = "S"
w = "Hello World"
print(type(s),type(w))
print(len(w))
print(w[6])
print(w[6:11])
print(w[6:])
print(w[:5])
w=w.upper()
print(w)
print(w.count("l"))
print(w.count("L"))
w=w.replace("World","Berkley")
print(w)
w=w.replace("WORLD","Berkley")
print(w)

<class 'str'> <class 'str'>
11
W
World
World
Hello
HELLO WORLD
0
3
HELLO WORLD
HELLO Berkley

In [8]:
x=1
print("x = " + str(x))

x = 1

In [24]:
name = "UC Berkeley"
country = "USA"
print("%s is a great school in %s!"%(name, country))
print(f"{name} is a great school in {country}.")
print(f"{3*4}")

UC Berkeley is a great school in USA!
UC Berkeley is a great school in USA.
12

### List
The way to define it is to use a pair of brackets [ ], and the elements within it are separated by commas. A list can hold any type of data: numerical, or strings, or other types. Lists are mutable, and their elements are usually homogeneous

### Tuples
It is usually defined by using a pair of parentheses ( ), and its elements are separated by commas. Tuples are immutable, and usually contain a heterogeneous sequence of elements that are accessed via unpacking

### Set

It is a type that can store an unordered collection with no duplicate elements. It can also support mathematical operations like union, intersection, difference, and symmetric difference. It is defined by using a pair of braces, { }, and its elements are separated by
commas.

### Dictionary

In [30]:
tuple_1 = (1, 2, 3, 2)
print(tuple_1)
print(tuple_1.count(2))

(1, 2, 3, 2)
2

In [32]:
set_1={3, 3, 2, 3, 1, 4, 5, 6, 4, 2}
print(set_1)
print(set(tuple_1))
print(set("Banana"))

{1, 2, 3, 4, 5, 6}
{1, 2, 3}
{'a', 'B', 'n'}

In [35]:
set_2 = set((2, 4, 6, 5, 2))
print(set_2)
set_1.union(set_2)
print(set_1)

{2, 4, 5, 6}
{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6}

In [38]:
print(set_1.intersection(set_2))
print(set_1.issubset({1, 2, 3, 3, 4, 5}))

{2, 4, 5, 6}
False

In [44]:
dict_1 = {"apple":3, "orange":4, "pear":2}
print(dict_1["apple"])
print(dict_1.keys())
print(dict_1.values())
school_dict = {}
school_dict["UC Berkeley"] = "USA"
school_dict["Oxford"] = "UK"
print(school_dict)
print(dict([("UC Berkeley", "USA"), ("Oxford", "UK")]))

3
dict_keys(['apple', 'orange', 'pear'])
dict_values([3, 4, 2])
{'UC Berkeley': 'USA', 'Oxford': 'UK'}
{'UC Berkeley': 'USA', 'Oxford': 'UK'}

In [45]:
"UC Berkeley" in school_dict

True

In [46]:
"Harvard" not in school_dict

True

In [47]:
list(school_dict) # key to list

['UC Berkeley', 'Oxford']

In [51]:
import numpy as np
x = np.array([1, 2, 4, 5, 9, 3])
print(x[x>3])
x[x>3]=0
print(x)

[4 5 9]
[1 2 0 0 0 3]